.member-dashboard {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  letter-spacing: normal;
}
.member-dashboard .content-container {
  width: var(--width-1440);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
