.points-card-container-parent {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-32) var(--padding-40);
  box-sizing: border-box;
  gap: var(--gap-20);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-12);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.card-base,
.content,
.points-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.points-card-container {
  width: var(--width-432);
  max-width: 100%;
}
.card-base,
.content {
  align-self: stretch;
}
.card-base {
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-24);
  background-color: var(--White);
  border: var(--border-1);
  overflow: hidden;
  padding: var(--padding-22) var(--padding-23);
}
.content {
  padding: var(--padding-10);
}
.points-balance-details {
  flex-direction: column;
  gap: var(--gap-8);
}
.points-balance-details,
.total-points-balance-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.total-points-balance {
  position: relative;
}
.wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  font-size: var(--fs-40);
  color: var(--Navy);
}
.h2 {
  margin: 0;
  position: relative;
}
.ready-to-redeem-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  font-size: var(--fs-14);
  color: var(--color-steelblue);
}
.ready-to-redeem {
  position: relative;
}
.button3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-24) var(--padding-10) var(--padding-10);
}
.button-primary2 {
  align-self: stretch;
  padding: var(--padding-12) var(--padding-20);
  cursor: pointer;
}
.tier-card-container {
  width: 648px;
  flex-direction: column;
  max-width: 100%;
  cursor: pointer;
}
.card-base2,
.tier-card-container,
.tier-details-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.card-base2 {
  flex: 1;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-24);
  background-color: var(--White);
  border: var(--border-1);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-24) var(--padding-23);
}
.tier-details-container {
  gap: var(--gap-3);
  font-size: var(--fs-24);
  color: var(--Navy);
}
.silver-member {
  margin: 0;
  position: relative;
}
.badge-icon {
  height: var(--height-30);
  width: var(--width-30);
  position: relative;
}
.content3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10);
  font-size: var(--fs-14);
}
.progress-bar-parent {
  flex-direction: column;
  gap: var(--gap-16);
}
.progress-bar,
.progress-bar-parent,
.pts-to-gold-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.progress-bar {
  flex-direction: column;
}
.pts-to-gold-parent {
  justify-content: space-between;
  gap: var(--gap-20);
}
.pts2 {
  position: relative;
  font-weight: 500;
}
.progress-bar-container {
  align-self: stretch;
  border-radius: var(--br-8);
  background-color: var(--color-dimgray-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.progress-bar-container-child {
  width: 442.3px;
  height: var(--height-8);
  position: relative;
  border-radius: var(--br-8);
  background-color: var(--color-steelblue);
}
.view-tier-benefits-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  color: var(--color-steelblue);
}
.expiry-card-container {
  width: 216px;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.card-base-inner,
.card-base3,
.expiry-card-container {
  align-self: stretch;
  display: flex;
}
.card-base3 {
  flex: 1;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-24);
  background-color: var(--White);
  border: var(--border-1);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-22) var(--padding-23);
}
.card-base-inner {
  align-items: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-10);
  flex-shrink: 0;
}
.vector-wrapper {
  border-radius: 999px;
  background-color: var(--color-darkslategray-200);
  display: flex;
  align-items: center;
  padding: var(--padding-15);
  box-sizing: border-box;
}
.vector-icon {
  width: var(--width-20);
  position: relative;
  max-height: 100%;
}
.content4,
.content5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10);
  flex-shrink: 0;
}
.content5 {
  font-size: var(--fs-16);
  color: var(--Navy);
}
.your-points-are {
  flex: 1;
  position: relative;
  line-height: var(--lh-28);
}
@media screen and (max-width: 1410px) {
  .points-card-container-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .h2 {
    font-size: var(--fs-32);
  }
}
@media screen and (max-width: 450px) {
  .h2 {
    font-size: var(--fs-24);
  }
  .tier-details-container {
    flex-wrap: wrap;
  }
  .silver-member {
    font-size: var(--fs-19);
  }
  .pts-to-gold-parent {
    flex-wrap: wrap;
  }
}
