.member-dashboard .upgrade-card-1 {
  height: var(--height-244);
  flex: 1;
  box-shadow: var(--shadow-drop-1);
  border-radius: var(--br-24);
  background-color: var(--White);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  isolation: isolate;
  min-width: var(--min-w-432);
  text-align: left;
  font-size: var(--fs-20);
  color: var(--Blue);
  font-family: var(--font-inter);
}
.member-dashboard .background-icon {
  align-self: stretch;
  width: var(--width-235_2);
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.member-dashboard .container4,
.member-dashboard .margin2 {
  justify-content: center;
}
.member-dashboard .container4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-24);
  box-sizing: border-box;
  min-width: var(--min-w-279);
  z-index: 0;
}
.member-dashboard .margin2 {
  padding: var(--padding-0) var(--padding-0) var(--padding-8);
  font-size: var(--fs-12);
}
.member-dashboard .container5,
.member-dashboard .margin2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.member-dashboard .flight-fd402- {
  align-self: stretch;
  position: relative;
}
.member-dashboard .heading-3margin {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-8);
  color: var(--Navy);
}
.member-dashboard .premium-economy-upgrade {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.member-dashboard .margin3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-16);
  font-size: var(--fs-14);
  color: var(--color-darkslategray-100);
}
.member-dashboard .enjoy-extra-legroom {
  align-self: stretch;
  position: relative;
  line-height: var(--lh-21);
}
.member-dashboard .container7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-12);
}
.member-dashboard .button-primary3 {
  align-self: stretch;
  padding: var(--padding-12) var(--padding-20);
}
@media screen and (max-width: 800px) {
  .member-dashboard .upgrade-card-1 {
    height: auto;
    flex-wrap: wrap;
    min-width: 100%;
  }
  .member-dashboard .background-icon {
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .member-dashboard .premium-economy-upgrade {
    font-size: var(--fs-16);
    line-height: var(--lh-22);
  }
}
